<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lepucare.xphealth.device">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="debug.DeviceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/common_ic_launcher"
        android:label="@string/device_app_name"

        android:roundIcon="@mipmap/common_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/base_Theme.MyApplication"
        tools:ignore="UnusedAttribute">

    </application>
</manifest>